<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Street View Publish{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='icons8-menu-96-favicon.png') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <nav class="nav-banner">
        <a href="{{ url_for('index') }}" class="nav-link">Home</a>
        <a href="{{ url_for('list_photos_page') }}" class="nav-link">Grid View</a>
        <a href="{{ url_for('list_photos_table_page') }}" class="nav-link">List View</a>
        <a href="{{ url_for('upload_photosphere') }}" class="nav-link">Upload</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message | safe }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
    </main>
    <footer>
        {% block footer %}{% endblock %}
    </footer>
    {% block scripts %}{% endblock %}
</body>
</html>
