{% extends "base.html" %}

{% block title %}Redirecting...{% endblock %}

{% block scripts %}
<script>
        var count = 5; // Set the initial count
        var countdownElement = null;

        function countdown() {
            countdownElement = document.getElementById("countdown");
            countdownElement.innerText = count;
            count--;
        }

        setInterval(countdown, 1000); // Decrease count every second

        setTimeout(function(){
            window.location.href = "{{ redirect_url }}";
        }, 5000); // Redirect after 5 seconds
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="redirecting-message">
        <h1>Update Successful!</h1>
        <a href="{{ url_for('list_photos_page', page_token=page_token, page_size=page_size) }}" class="back-link"><b>Click to go back to the photo list</b></a>, or wait to be redirected to the photo.
        <p>Redirecting you back in <span id="countdown">5</span> seconds... (waiting for values to update on Google's servers)</p>
    </div>
</div>
{% endblock %}
