<!DOCTYPE html>
<html>
<head>
    <title>Redirecting...</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

    <script type="text/javascript">
        var count = 20; // Set the initial count
        var countdownElement = null;

        function countdown() {
            countdownElement = document.getElementById("countdown");
            countdownElement.innerText = count;
            count--;
        }

        setInterval(countdown, 1000); // Decrease count every second

        setTimeout(function(){
            window.location.href = "{{ redirect_url }}";
        }, 20000); // Redirect after 20 seconds
    </script>
</head>
<body>
    <div class="container">
        <div class="redirecting-message">
            <h1>Update Successful!</h1>
            <a href="{{ url_for('list_photos_page', page_token=page_token, page_size=page_size) }}" class="back-link">Click to go back to the photo list</a>, or wait to be redirected to the photo.
            <p>Redirecting you back in <span id="countdown">20</span> seconds... (waiting for values to update)</p>
        </div>
    </div>
</body>
</html>
