{% extends "base.html" %}

{% block title %}Edit Photo{% endblock %}

{% block head %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&libraries=geometry&callback=initializeMap" async defer></script>
{% endblock %}

{% block content %}
<div class="container_photos">
        <h1>Edit Photo</h1>
        <div class="navigation-buttons">
            <a href="#" class="button-22 back-link">Return to Grid View</a>
            <a href="{{ url_for('edit_connections', photo_id=photo.photoId.id) }}" class="button-22">Edit Connections</a>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">
                        {{ message|safe }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div class="content-container">
            <div class="photo-details">
                <h2>Photo Details:</h2>
                <a href="{{ photo.shareLink }}" target="_blank" class="enlarged-photo-container">
                    <img src="{{ photo.thumbnailUrl }}" alt="Thumbnail" class="enlarged-photo">
                    <div class="dashed-line"></div>
                </a>
                <div class="details-grid"> <!-- Start of the new grid container -->
                    <!-- Metadata -->
                    <span class="grid-label">Share Link:</span>
                    <span class="grid-value"><a href="{{ photo.shareLink }}" target="_blank">Google Maps Streetview</a></span>

                    <span class="grid-label">View Count:</span>
                    <span class="grid-value">{{ photo.viewCount }}</span>

                    <span class="grid-label">Capture Time:</span>
                    <span class="grid-value">{{ photo.captureTime }}</span>

                    <span class="grid-label">Upload Time:</span>
                    <span class="grid-value">{{ photo.uploadTime }}</span>

                    <!-- Form starts here, integrated into the grid -->
                    <form action="{{ url_for('update_photo', photo_id=photo.photoId.id) }}" method="POST" class="grid-form">
                        <!-- Latitude -->
                        <label for="latitude" class="grid-label">Latitude:*</label>
                        <div class="grid-value">
                            <input type="text" id="latitude" name="latitude" value="{{ (photo.pose.latLngPair.latitude if 'pose' in photo and 'latLngPair' in photo.pose and 'latitude' in photo.pose.latLngPair else '')|round(7) }}">
                        </div>

                        <!-- Longitude -->
                        <label for="longitude" class="grid-label">Longitude:*</label>
                        <div class="grid-value">
                            <input type="text" id="longitude" name="longitude" value="{{ (photo.pose.latLngPair.longitude if 'pose' in photo and 'latLngPair' in photo.pose and 'longitude' in photo.pose.latLngPair else '')|round(7) }}">
                        </div>

                        <!-- Place ID -->
                        <label for="placeId" class="grid-label">Place ID:</label>
                        <div class="grid-value form-group-wrapper"> <!-- Keep form-group-wrapper for structure -->
                            <div class="input-wrapper">
                                <input type="text" id="placeId" name="placeId" value="{{ photo.places[0].placeId if 'places' in photo and photo.places|length > 0 and 'placeId' in photo.places[0] else '' }}">
                                <button type="submit" class="search-button">&#128269;</button> <!-- magnifying glass icon -->
                            </div>
                            <sub>{{ photo.places[0].name if 'places' in photo and photo.places|length > 0 and 'name' in photo.places[0] else '' }}</sub>
                        </div>

                        <!-- Heading -->
                        <label for="heading" class="grid-label">Heading:</label>
                        <div class="grid-value">
                            <input type="number" id="heading" name="heading" min="0" max="360" step="1" value="{{ (photo.pose.heading if 'pose' in photo and 'heading' in photo.pose and photo.pose.heading != 'NaN' else '') }}">
                        </div>

                        <!-- Submit Button - Spans both columns -->
                        <div class="grid-submit">
                            <button class="button-22" type="submit" id="submit-button">Submit Changes</button>
                        </div>
                    </form>
                </div> <!-- End of details-grid -->
            </div>
            <div class="map-container">
                <h2>Photo Heading:</h2>                
                <div id="map" style="height: 600px; width: 100%;"></div>
                <p class="map-description">Use the marker on the map to set the correct heading for your photo. Drag the marker to point in the direction of the centre of the photo as indicated by the dashed line.</p>
            </div>
        </div>
       
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="radius-input">
                <label for="radius">Radius (up to 1000):</label>
                <input type="number" id="radius" value="300" min="1" max="1000">
                <button class="refresh-button">Refresh</button>
            </div>
            <!-- Scrollable container for places -->
            <div class="places-container">
                <p id="modal-text">Please wait...</p>
            </div>
        </div>
    </div>

    </div>
{% endblock %}

{% block scripts %}
<script>
    let map;
    let anchorMarker;
    let headingMarker;
    let headingInput = document.getElementById('heading');
    let polyline;

    function initializeMap() {
            console.log("Initializing map..."); 
            let lat = parseFloat(document.getElementById('latitude').value);
            let lng = parseFloat(document.getElementById('longitude').value);

            console.log("Latitude:", lat, "Longitude:", lng);

            const anchorPosition = { lat: lat, lng: lng };
            const headingValue = parseFloat(headingInput.value);

            map = new google.maps.Map(document.getElementById('map'), {
                center: anchorPosition,
                zoom: 17,
                mapTypeId: 'satellite'
            });

            // Marker at the photo's GPS position
            anchorMarker = new google.maps.Marker({
                position: anchorPosition,
                map: map,
                draggable: false,
                title: "Photo's GPS Position"
            });

            // Calculate the initial heading position if headingValue is available
            let headingPosition;
            if (!isNaN(headingValue)) {
                headingPosition = google.maps.geometry.spherical.computeOffset(anchorPosition, 100, headingValue);
            } else {
                headingPosition = { lat: lat + 0.0006, lng: lng + 0.0006 }; // Default position if heading is not set
            }

            // Marker to adjust heading
            headingMarker = new google.maps.Marker({
                position: headingPosition,
                map: map,
                draggable: true,
                title: "Adjust Heading",
                icon: {
                    url: 'https://maps.google.com/mapfiles/kml/paddle/red-stars.png', // URL to custom icon
                    scaledSize: new google.maps.Size(32, 32) // Adjust size if needed
                }
            });

            // Create the initial polyline
            polyline = new google.maps.Polyline({
                path: [anchorPosition, headingPosition],
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2,
                map: map
            });

            google.maps.event.addListener(headingMarker, 'drag', updatePolylineAndHeading);
        }
        window.addEventListener('load', function() {
            initializeMap();
        });

        function updatePolylineAndHeading() {
            const anchorPosition = anchorMarker.getPosition();
            const headingPosition = headingMarker.getPosition();

            // Update polyline
            polyline.setPath([anchorPosition, headingPosition]);

            // Calculate and update heading
            let heading = google.maps.geometry.spherical.computeHeading(anchorPosition, headingPosition);
            if (heading < 0) {
                heading += 359;
            }
            headingInput.value = Math.round(heading); // Round the heading to the nearest whole number
        }

        // Get the modal
        var modal = document.getElementById("myModal");

        document.addEventListener('DOMContentLoaded', function(event) {

            // Change the submit button to Please Wait when pressed.
            const form = document.querySelector('form');
            const submitButton = document.getElementById('submit-button');

            form.addEventListener('submit', function(event) {
                submitButton.textContent = 'Please wait...';
                submitButton.disabled = true;
            });

            // Dynamically update the "Back to List" link
            const backLink = document.querySelector('.back-link');
            const referrer = document.referrer;

            if (referrer.includes('list_photos_table')) {
                backLink.href = '{{ url_for("list_photos_table_page") }}';
                backLink.textContent = 'Return to Table View';

                // Add click event to close the tab if opened in a new tab
                backLink.addEventListener('click', function(event) {
                    // Check if the tab was opened programmatically
                    if (sessionStorage.getItem('openedByScript') === 'true') {
                        event.preventDefault();  // Prevent the default link behavior
                        window.close();  // Close the current tab
                    }
                });
            } else if (referrer.includes('list_photos')) {
                backLink.href = `{{ url_for('list_photos_page', page_token=page_token, page_size=page_size) }}`;
                backLink.textContent = 'Return to Grid View';
            } else {
                backLink.href = '{{ url_for("list_photos_page") }}';
                backLink.textContent = 'Back to List';
            }

            function fetchPlaces() {
                // Show loading message
                document.getElementById("modal-text").innerHTML = 'Please wait...';

                let latitude = document.querySelector("#latitude").value;
                let longitude = document.querySelector("#longitude").value;
                let radius = document.querySelector("#radius").value;
        
                let xhr = new XMLHttpRequest();
                xhr.open('GET', `/nearby_places?latitude=${latitude}&longitude=${longitude}&radius=${radius}`, true);
        
                xhr.onload = function() {
                    // console.log(this.status);
                    if (this.status == 200) {
                        let places_info = JSON.parse(this.responseText);
                        // console.log(places_info);
        
                        // Count the places
                        let count = places_info.length;

                        // Sort the places by distance
                        places_info.sort(function(a, b) {
                            return a.distance - b.distance;
                        });
        

                        // Prepare the text to display in the modal
                        let text = "";
                        for (let i = 0; i < places_info.length; i++) {
                            let place = places_info[i];
                            // console.log("Icon:", place.icon);
                            let iconHTML = place.icon ? `<span class="place-icon"><img src="${place.icon}" alt="icon"></span>` : '';
                            // create a clickable div for each place
                            text += `<div class="place">
                                        ${iconHTML}
                                        <span class="place-name"><a href="#" data-place-id="${place.place_id}" onclick="selectPlace(event, this)">${place.name}</a></span>
                                        <span class="place-distance"><strong>Distance:</strong>${place.distance} miles</span>
                                        <span class="place-id"><strong>Place ID:</strong>${place.place_id}</span>
                                    </div>`;
                        }

                        // Set the modal text
                        document.getElementById("modal-text").innerHTML = text;

                        // Check if the paragraph for the number of places found already exists
                        let countText = document.querySelector(".count-text");

                        if (countText) {
                            // If it exists, just update the text
                            countText.textContent = `Found ${places_info.length} places (max is 60)... Please select a place, or close to cancel`;
                        } else {
                            // If it doesn't exist, create a new paragraph
                            countText = document.createElement("p");
                            countText.className = "count-text";
                            countText.textContent = `Found ${places_info.length} places... Please select a place or close to cancel`;

                            // Append the new paragraph just after the radius input and refresh button
                            document.querySelector(".radius-input").appendChild(countText);
                        }

                        // Show the modal
                        modal.style.display = "block";
                    }
                };
                xhr.send();
            }
        
            document.querySelector(".search-button").addEventListener('click', function(event) {
                event.preventDefault(); // prevent the form from being submitted

                // Show the modal
                modal.style.display = "block";

                // Then fetch the places
                fetchPlaces();
            });

            document.querySelector(".refresh-button").addEventListener('click', function(event) {
                event.preventDefault(); // prevent the form from being submitted
                fetchPlaces();
            });

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
                modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        });

        // function to handle place selection
        function selectPlace(event, element) {
            event.preventDefault(); // prevent the link from being followed
            let placeId = element.getAttribute('data-place-id'); // get place id from data attribute

            // set PlaceId input box value to the selected place id
            document.querySelector("#placeId").value = placeId;

            // close the modal
            modal.style.display = 'none';
        }
    </script>
{% endblock %}
