<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exif-js/2.3.0/exif.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/exifreader@3/dist/exif-reader.js"></script>
    <title>Upload Photosphere</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="container_upload">
      <h1>Upload Photosphere</h1>
      <a href="{{ url_for('index') }}">Back</a><br><br>
      <form id="upload-form" action="{{ url_for('upload_photosphere') }}" method="post" enctype="multipart/form-data">
        <label for="file">Select a file:</label>
        <input type="file" id="file" name="file" accept="image/*" onchange="extractMetadata()" required>
        <img id="preview" style="display:none;max-width:100%;">
       
        <p id="latitude-label"><span class="metadata-label">Latitude:</span> <span id="latitude-display"></span></p>
        <input type="hidden" step="0.0000001" id="latitude-input" name="latitude" required>
        
        <p id="longitude-label"><span class="metadata-label">Longitude:</span> <span id="longitude-display"></span></p>
        <input type="hidden" step="0.0000001" id="longitude-input" name="longitude" required>

        <p id="ProjectionType-label"><span class="metadata-label">ProjectionType:</span> <span id="ProjectionType-display"></span></p>
        <p id="UsePanoramaViewer-label"><span class="metadata-label">UsePanoramaViewer:</span> <span id="UsePanoramaViewer-display"></span></p>
        <p id="CroppedAreaTopPixels-label"><span class="metadata-label">CroppedAreaTopPixels:</span> <span id="CroppedAreaTopPixels-display"></span></p>
        <p id="CroppedAreaLeftPixels-label"><span class="metadata-label">CroppedAreaLeftPixels:</span> <span id="CroppedAreaLeftPixels-display"></span></p>
        <p id="CroppedAreaImageHeightPixels-label"><span class="metadata-label">CroppedAreaImageHeightPixels:</span> <span id="CroppedAreaImageHeightPixels-display"></span></p>
        <p id="CroppedAreaImageWidthPixels-label"><span class="metadata-label">CroppedAreaImageWidthPixels:</span> <span id="CroppedAreaImageWidthPixels-display"></span></p>
        <p id="FullPanoHeightPixels-label"><span class="metadata-label">FullPanoHeightPixels:</span> <span id="FullPanoHeightPixels-display"></span></p>
        <p id="FullPanoWidthPixels-label"><span class="metadata-label">FullPanoWidthPixels:</span> <span id="FullPanoWidthPixels-display"></span></p>
        <p id="FlightYawDegree-label"><span class="metadata-label">FlightYawDegree:</span> <span id="FlightYawDegree-display"></span></p>
        <input type="hidden" id="heading-input" name="heading" required> 

        <!-- <p id="PlaceID-label"><span class="metadata-label">Place ID (optional):</span> <span id="placeID-display"></span> <button type="submit" class="search-button">&#128269;</button></p> -->
        <p id="PlaceID-label"><span class="metadata-label">Place ID (optional; manually search for IDs <a href="https://developers.google.com/maps/documentation/places/web-service/place-id">here</a>):</span> <div class="input-wrapper"><input type="text" id="placeId" name="placeId" value="{{ photo.places[0].placeId if 'places' in photo and photo.places|length > 0 and 'placeId' in photo.places[0] else '' }}"> <button type="submit" class="search-button">&#128269;</button></div></p>

        <!-- <input type="hidden" id="placeID-input" name="placeId"> -->
        <input type="submit" value="Upload" id="upload-button" disabled>
        <div id="message"></div>

      </form>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">
      <!-- Modal content -->
      <div class="modal-content">
          <span class="close">&times;</span>
          <div class="radius-input">
              <label for="radius">Radius (up to 1000):</label>
              <input type="number" id="radius" value="300" min="1" max="1000">
              <button class="refresh-button">Refresh</button>
          </div>
          <!-- Scrollable container for places -->
          <div class="places-container">
              <p id="modal-text">Some text in the Modal..</p>
          </div>
      </div>
    </div>
    <script>

        document.getElementById('upload-form').addEventListener('submit', function() {
            const submitButton = document.querySelector('input[type="submit"]');
            submitButton.disabled = true;
            submitButton.value = 'Uploading, please wait...';
        });

        async function extractMetadata() {
            const fileInput = document.getElementById('file');
            const file = fileInput.files[0];
            const preview = document.getElementById('preview');

            const submitButton = document.querySelector('input[type="submit"]');
            const messageDiv = document.getElementById('message');

            submitButton.disabled = false;
            messageDiv.textContent = '';

            // Display image preview
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
                preview.style.display = 'block';
            }
            reader.readAsDataURL(file);

            // Read EXIF and XMP metadata using ExifReader
            const arrayBuffer = await file.arrayBuffer();
            const exifReader = await ExifReader.load(arrayBuffer, {expanded: true});

            const xmpMetadataIds = [
                'ProjectionType', 'UsePanoramaViewer', 'CroppedAreaTopPixels', 
                'CroppedAreaLeftPixels', 'CroppedAreaImageHeightPixels', 
                'CroppedAreaImageWidthPixels', 'FullPanoHeightPixels', 
                'FullPanoWidthPixels', 'FlightYawDegree'
            ];

            // Clear old values and color all labels red
            for (const id of xmpMetadataIds) {
                const displayId = id + '-display';
                const labelId = id + '-label';
                const labelSpan = document.getElementById(labelId).querySelector('.metadata-label');
                document.getElementById(displayId).textContent = '';
                labelSpan.classList.remove('has-value');
                labelSpan.classList.add('no-value');
            }

            // Clear old GPS values and color GPS labels red
            document.getElementById('latitude-display').textContent = '';
            document.getElementById('longitude-display').textContent = '';

            const latLabelSpan = document.getElementById('latitude-label').querySelector('.metadata-label');
            const lonLabelSpan = document.getElementById('longitude-label').querySelector('.metadata-label');

            latLabelSpan.classList.remove('has-value');
            latLabelSpan.classList.add('no-value');
            lonLabelSpan.classList.remove('has-value');
            lonLabelSpan.classList.add('no-value');

            // Extract GPS data
            let hasGpsData = false;
            if (exifReader['gps'] && exifReader.gps['Latitude'] && exifReader.gps['Longitude']) {
                const lat = exifReader.gps['Latitude'];
                const lon = exifReader.gps['Longitude'];

                document.getElementById('latitude-display').textContent = parseFloat(lat.toFixed(7));
                document.getElementById('latitude-input').value = parseFloat(lat.toFixed(7));

                document.getElementById('longitude-display').textContent = parseFloat(lon.toFixed(7));
                document.getElementById('longitude-input').value = parseFloat(lon.toFixed(7));

                latLabelSpan.classList.remove('no-value');
                latLabelSpan.classList.add('has-value');
                lonLabelSpan.classList.remove('no-value');
                lonLabelSpan.classList.add('has-value');

                hasGpsData = true;
            } else {
                latLabelSpan.classList.add('no-value');
                lonLabelSpan.classList.add('no-value');
            }

            // Extract XMP data
            let hasXmpData = false;
            if (exifReader['xmp']) {
                for (const id of xmpMetadataIds) {
                    const displayId = id + '-display';
                    const labelId = id + '-label';
                    const labelSpan = document.getElementById(labelId).querySelector('.metadata-label');
                    if (exifReader.xmp[id] && exifReader.xmp[id].value) {
                        let value = exifReader.xmp[id].value;
                        
                        // Special handling for FlightYawDegree
                        if (id === 'FlightYawDegree') {
                            let degree = parseFloat(value);
                            if (!isNaN(degree)) {
                                if (degree < 0) {
                                    degree = 360 + degree;
                                }
                                degree = Math.round(degree % 360);
                                if (degree === 360) {
                                    degree = 359;
                                }
                                value = degree;
                                document.getElementById('heading-input').value = degree;
                            }
                        }

                        document.getElementById(displayId).textContent = value;
                        labelSpan.classList.remove('no-value');
                        labelSpan.classList.add('has-value');
                    }
                }
                hasXmpData = true;
            }

            // Enable or disable submit button based on whether necessary data is present
            if (!hasGpsData || !hasXmpData) {
                submitButton.disabled = true;
                submitButton.value = 'Required photo metadata is missing, please fix and try again...';
                messageDiv.innerHTML = 'See this webpage for details: <a href="https://developers.google.com/streetview/spherical-metadata">Photo Sphere XMP Metadata</a>';
            } else {
                submitButton.disabled = false;
                submitButton.value = 'Upload';
                messageDiv.textContent = '';
            }
        }

      // Get the modal
      var modal = document.getElementById("myModal");

      document.addEventListener('DOMContentLoaded', (event) => {
          function fetchPlaces() {
              let latitude = document.querySelector("#latitude-input").value;
              let longitude = document.querySelector("#longitude-input").value;
              let radius = document.querySelector("#radius").value;
      
              let xhr = new XMLHttpRequest();
              xhr.open('GET', `/nearby_places?latitude=${latitude}&longitude=${longitude}&radius=${radius}`, true);
      
              xhr.onload = function() {
                  // console.log(this.status);
                  if (this.status == 200) {
                      let places_info = JSON.parse(this.responseText);
                      // console.log(places_info);
      
                      // Count the places
                      let count = places_info.length;

                      // Sort the places by distance
                      places_info.sort(function(a, b) {
                          return a.distance - b.distance;
                      });
      

                      // Prepare the text to display in the modal
                      let text = "";
                      for (let i = 0; i < places_info.length; i++) {
                          let place = places_info[i];
                          // console.log("Icon:", place.icon);
                          let iconHTML = place.icon ? `<span class="place-icon"><img src="${place.icon}" alt="icon"></span>` : '';
                          // create a clickable div for each place
                          text += `<div class="place">
                                      ${iconHTML}
                                      <span class="place-name"><a href="#" data-place-id="${place.place_id}" onclick="selectPlace(event, this)">${place.name}</a></span>
                                      <span class="place-distance"><strong>Distance:</strong>${place.distance} miles</span>
                                      <span class="place-id"><strong>Place ID:</strong>${place.place_id}</span>
                                  </div>`;
                      }

                      // Set the modal text
                      document.getElementById("modal-text").innerHTML = text;

                      // // Set the count text
                      // let countText = `Found ${count} places... Please select a place or close to cancel`;
                      // document.querySelector(".radius-input").insertAdjacentHTML('afterend', `<p>${countText}</p>`);

                      // Check if the paragraph for the number of places found already exists
                      let countText = document.querySelector(".count-text");

                      if (countText) {
                          // If it exists, just update the text
                          countText.textContent = `Found ${places_info.length} places (max is 60)... Please select a place, or close to cancel`;
                      } else {
                          // If it doesn't exist, create a new paragraph
                          countText = document.createElement("p");
                          countText.className = "count-text";
                          countText.textContent = `Found ${places_info.length} places... Please select a place or close to cancel`;

                          // Append the new paragraph just after the radius input and refresh button
                          document.querySelector(".radius-input").appendChild(countText);
                      }

                      // Show the modal
                      modal.style.display = "block";
                  }
              };
              xhr.send();
          }
      
          document.querySelector(".search-button").addEventListener('click', function(event) {
              event.preventDefault(); // prevent the form from being submitted
              fetchPlaces();
          });

          document.querySelector(".refresh-button").addEventListener('click', function(event) {
              event.preventDefault(); // prevent the form from being submitted
              fetchPlaces();
          });

          // // Check if the modal was selected correctly
          // if (modal === null) {
          //     console.error("Could not find the modal. Check the id in the HTML.");
          // } else {
          //     console.log("Modal found:", modal);
          // }

          // Get the <span> element that closes the modal
          var span = document.getElementsByClassName("close")[0];

          // When the user clicks on <span> (x), close the modal
          span.onclick = function() {
              modal.style.display = "none";
          }

          // When the user clicks anywhere outside of the modal, close it
          window.onclick = function(event) {
              if (event.target == modal) {
                  modal.style.display = "none";
              }
          }
      });

      // function to handle place selection
      function selectPlace(event, element) {
          event.preventDefault(); // prevent the link from being followed
          let placeId = element.getAttribute('data-place-id'); // get place id from data attribute

        //   // set PlaceId input box value to the selected place id
        //   document.querySelector("#placeID-input").value = placeId;
        //   document.querySelector("#placeID-display").textContent = placeId;

          // set PlaceId input box value to the selected place id
          document.querySelector("#placeId").value = placeId;

          // close the modal
          modal.style.display = 'none';
      }
    </script>
    
  
</body>
</html>
